<h1 class="mat-h1">Companions</h1>
<h2 class="mat-h2">Current Companions</h2>

<app-companion-details *ngFor="let companion of companions" [companion]="companion"
    (eventDeleteCompanion)="deleteCompanion($event)" style="width: 100%">
</app-companion-details>

<a routerLink="/companion/create">
    <button mat-fab color="accent" style="position: sticky; bottom: 5%; left: 95%; z-index: 50;" matTooltip="Create New Companion"
        aria-label="Create New Companion">
        <mat-icon>add</mat-icon>
    </button>
</a>