<mat-card class="maxionderon-card-background">

    <mat-card-header>
        <mat-card-title>Companion</mat-card-title>
        <mat-card-subtitle>Current Companions</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <app-companion-details *ngFor="let companion of companions" [companion]="companion"
            (eventDeleteCompanion)="deleteCompanion($event)" style="width: 100%">
        </app-companion-details>

    </mat-card-content>

    <mat-card-actions>
        <a routerLink="/companion/create">
            <button mat-stroked-button (click)="true">
                <mat-icon class="icon">add_circle_outline</mat-icon>
                <span>Create New Companion</span>
            </button>
        </a>
    </mat-card-actions>

</mat-card>