<mat-card class="maxionderon-card-background">

    <mat-card-header>
        <mat-card-title>Companion</mat-card-title>
        <mat-card-subtitle>Current Companions</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <app-companion-details *ngFor="let companion of companions" [companion]="companion"
            (eventDeleteCompanion)="deleteCompanion($event)" style="width: 100%">
        </app-companion-details>

    </mat-card-content>

</mat-card>

<a routerLink="/companion/create">
    <button mat-fab color="accent" style="position: fixed; bottom: 10%; right: 5%;" matTooltip="Create New Companion"
        aria-label="Create New Companion">
        <mat-icon>add</mat-icon>
    </button>
</a>