<div style="display: flex; flex-wrap: nowrap; align-items: center">

    <mat-form-field style="min-width: 70%; width: 100%;">
        <input #kek matInput [value]="affiliation.name" [readonly]="readonly" >
    </mat-form-field>

    <button class="updateButton" mat-icon-button aria-label="update button icon" matTooltip="Update Affiliation" (click)="updateAffiliation()" *ngIf="showModOptions">
        <mat-icon >check</mat-icon>
    </button>

    <button class="abortButton" mat-icon-button aria-label="modify button icon" matTooltip="Abort Modification" (click)="abortModeAffiliation()" *ngIf="showModOptions">
        <mat-icon >cancel</mat-icon>
    </button>

    <button mat-icon-button aria-label="modify button icon" matTooltip="Modify Affiliation" (click)="editModeAffiliation()" [disabled]="defaultOptionsDisabled">
        <mat-icon>create</mat-icon>
    </button>

    <button class="deleteButton" mat-icon-button aria-label="delete button icon" matTooltip="Delete Affiliation" (click)="deleteAffiliation()" [disabled]="defaultOptionsDisabled">
        <mat-icon class="deleteButtonIcon">delete</mat-icon>
    </button>

</div>