<div style="display: flex; flex-wrap: nowrap; align-items: center">

    <mat-form-field style="min-width: 30%; width: 100%; margin-right: 1%;">

        <input matInput [value]="companionGift.giftType.type" readonly>

    </mat-form-field>

    <mat-form-field style="min-width: 30%; width: 100%;">
    
        <input matInput [value]="companionGift.giftReaction.name" readonly>
    
    </mat-form-field>

    <button class="removeButton" mat-icon-button aria-label="remove button icon" matTooltip="Remove Companion Gift"
        (click)="removeCompanionGiftFromCompanion()">
        <mat-icon>cancel</mat-icon>
    </button>

</div>