<mat-card class="maxionderon-card-background">

    <mat-card-header>
        <mat-card-title>Gift Reaction</mat-card-title>
        <mat-card-subtitle>Create New</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-card>

            <form>

                <mat-form-field floatLabel="always" style="width: 100%">
                    <mat-label>Name the Gift Reaction</mat-label>
                    <input #inputGiftReactionName matInput placeholder="Name the new Gift Reaction" required
                        [formControl]="formControlGiftReactionName">
                </mat-form-field>

                <mat-form-field floatLabel="always" style="width: 100%">
                    <mat-label>Set the Gift Reaction Gain Factor</mat-label>
                    <input #inputGiftReactionGainFactor matInput placeholder="Set the Gift Reaction Gain Factor" required
                        [formControl]="formControlGiftReactionGainFactor" type="number" min="0">
                </mat-form-field>

            </form>

            <mat-card-actions>
                <button mat-stroked-button (click)="createGiftReaction()">
                    <mat-icon class="createIcon">add_circle_outline</mat-icon>
                    <span>Create Gift Reaction</span>
                </button>
            </mat-card-actions>

        </mat-card>

    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button (click)="abortGiftReactionCreation()">
            <mat-icon class="createIcon">clear</mat-icon>
            <span>Abort Creation</span>
        </button>
    </mat-card-actions>

</mat-card>