<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Affiliation Modification" (click)="abortAffiliationModification()">clear</mat-icon>
<h2 mat-dialog-title> Modify Affiliation: {{affiliation.name}}</h2>


<mat-dialog-content>
    <mat-form-field floatLabel="always" style="width: 100%">
        <mat-label>Rename the Affiliation</mat-label>
        <input matInput placeholder="Rename the Affiliation" [value]="affiliation.name" required
            [formControl]="affiliationNameFormControl">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <button mat-stroked-button (click)="abortAffiliationModification()">
        <mat-icon class="createIcon">clear</mat-icon>
        <span>Abort Modification</span>
    </button>

    <button mat-stroked-button (click)="modifyAffiliation()">
        <mat-icon class="createIcon">add_circle_outline</mat-icon>
        <span>Update Affiliation</span>
    </button>

</mat-dialog-actions>