<mat-card class="maxionderon-card-background">
    <mat-card-header>
        <mat-card-title>Gift Type</mat-card-title>
        <mat-card-subtitle>Create New</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-card>

            <form>
                <mat-form-field floatLabel="always" style="width: 100%">
                    <mat-label>Name of the Gift Type</mat-label>
                    <input matInput placeholder="Name the new Affiliation" required
                        [formControl]="formControlGiftTypeName">
                </mat-form-field>
            </form>

            <mat-card-actions>
                <button mat-stroked-button (click)="createGiftType()">
                    <mat-icon class="createIcon">add_circle_outline</mat-icon>
                    <span>Create Gift Type</span>
                </button>
            </mat-card-actions>

        </mat-card>

    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button (click)="abortGiftTypeCreation()">
            <mat-icon class="createIcon">clear</mat-icon>
            <span>Abort Creation</span>
        </button>
    </mat-card-actions>



</mat-card>