<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Gift Reaction Creation"
    (click)="abortGiftReactionCreation()">clear
</mat-icon>

<h2 mat-dialog-title> Create New Gift Reaction</h2>

<mat-dialog-content>
    <mat-form-field floatLabel="always" style="width: 100%" appearance="outline">
        <mat-label>Name the Gift Reaction</mat-label>
        <input matInput placeholder="Name the new Gift Type" required [formControl]="formControlGiftReactionName">
        <mat-hint align="start">
            <mat-error *ngIf="formControlGiftReactionName.invalid&&(formControlGiftReactionName.dirty||formControlGiftReactionName.touched)">
                {{getErrorMessageGiftReactionName()}}
            </mat-error>
        </mat-hint>
        <mat-hint align="end">{{formControlGiftReactionName.value.length}} / 250</mat-hint>
    </mat-form-field>
 
    <mat-form-field floatLabel="always" style="width: 100%" appearance="outline">
        <mat-label>Set the Gift Reaction Gain Factor</mat-label>
        <input matInput placeholder="Set the Gift Reaction Gain Factor" required
            [formControl]="formControlGiftReactionGainFactor" type="number" min="0">
        <mat-hint align="start">
            <mat-error *ngIf="formControlGiftReactionGainFactor.invalid&&(formControlGiftReactionGainFactor.dirty||formControlGiftReactionGainFactor.touched)">
                {{getErrorMessageGiftReactionGainFactor()}}
            </mat-error>
        </mat-hint>
        <mat-hint align="end">max. Value: 2.000.000.000</mat-hint>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <button mat-stroked-button (click)="abortGiftReactionCreation()">
        <mat-icon class="createIcon">clear</mat-icon>
        <span>Abort Creation</span>
    </button>

    <button mat-stroked-button (click)="createGiftReaction()">
        <mat-icon class="createIcon">check</mat-icon>
        <span>Create Gift Reaction</span>
    </button>

</mat-dialog-actions>