<mat-card>

    <mat-card-header>
        <mat-card-title>Companion</mat-card-title>
        <mat-card-subtitle>Create New Companion</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-form-field style="width: 100%">
            <input matInput placeholder="Companion Name" [formControl]="formControlCompanionName" required>
            <mat-hint align="start">
                <mat-error *ngIf="!formControlCompanionName.valid&&(formControlCompanionName.dirty||formControlCompanionName.touched)">
                    {{getErrorMessageCompanionName()}}
                </mat-error>
            </mat-hint>
            <mat-hint align="end">{{formControlCompanionName.value.length}} / 250</mat-hint>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <textarea matInput cdkTextareaAutosize placeholder="Companion Description"
                [formControl]="formControlCompanionDescription" required></textarea>
            <mat-hint align="start">
                <mat-error *ngIf="!formControlCompanionDescription.valid&&(formControlCompanionDescription.dirty||formControlCompanionDescription.touched)">
                    {{getErrorMessageCompanionDescription()}}
                </mat-error>
            </mat-hint>
            <mat-hint align="end">{{formControlCompanionDescription.value.length}} / 65000</mat-hint>
        </mat-form-field>

        <mat-list>

            <h3 mat-subheader>Affiliations</h3>

            <mat-list-item *ngFor="let affiliation of companionAffiliations" style="width: 100%">
                <app-companion-create-affiliation-element [affiliation]="affiliation"
                    (eventRemoveAffiliation)="removeAffiliationFromCompanion($event)" style="width: 100%">
                </app-companion-create-affiliation-element>
            </mat-list-item>
            <mat-list-item *ngIf="affiliationOptions.length > 0" style="width: 100%">
                <button mat-stroked-button (click)="dialogAddAffiliation()" style="width: 100%">
                    <mat-icon class="createIcon">add_circle_outline</mat-icon>
                    <span>Add Affiliation to Companion</span>
                </button>
            </mat-list-item>
        </mat-list>

        <mat-list>

            <h3 mat-subheader>Companion Gifts</h3>

            <mat-list-item *ngFor="let gift of companionGifts" style="width: 100%">
                <app-companion-create-companion-gift-element [companionGift]="gift"
                    (eventRemoveCompanionGiftFromCompanion)="removeCompanionGiftFromCompanion($event)"
                    style="width: 100%">
                </app-companion-create-companion-gift-element>
            </mat-list-item>

            <mat-list-item *ngIf="giftTypeOptions.length > 0">
                <button mat-stroked-button (click)="dialogAddCompanionGiftsToCompanion()" style="width: 100%">
                    <mat-icon class="createIcon">add_circle_outline</mat-icon>
                    <span>Add Gifts to Companion</span>
                </button>
            </mat-list-item>

        </mat-list>

    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button (click)="createCompanion()">
            <mat-icon class="createIcon">add_circle_outline</mat-icon>
            <span>Create Companion</span>
        </button>
    </mat-card-actions>

</mat-card>