<a routerLink="/companion">
    <button mat-stroked-button>
        <mat-icon class="icon">add_circle_outline</mat-icon>
        <span>Companions</span>
    </button>
</a>

<a routerLink="/affiliations">
    <button mat-stroked-button>
        <mat-icon class="icon">add_circle_outline</mat-icon>
        <span>Affiliations</span>
    </button>
</a>

<a routerLink="/giftTypes">
    <button mat-stroked-button>
        <mat-icon class="icon">add_circle_outline</mat-icon>
        <span>Gift Types</span>
    </button>
</a>

<a routerLink="/giftReactions">
    <button mat-stroked-button>
        <mat-icon class="icon">add_circle_outline</mat-icon>
        <span>Gift Reactions</span>
    </button>
</a>
