<mat-card class="maxionderon-card-background">

    <mat-card-header>
        <mat-card-title>Gift Reactions</mat-card-title>
        <mat-card-subtitle>Current Reactions</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-card>

            <mat-list>

                <mat-list-item *ngFor="let giftReaction of giftReactions" style="width: 100%">

                    <app-gift-reaction-element [giftReaction]="giftReaction"
                        (eventDeleteGiftReaction)="deleteGiftReaction($event)"
                        (eventUpdateGiftReaction)="updateGiftReaction($event)"
                    style="width: 100%"></app-gift-reaction-element>


                </mat-list-item>

            </mat-list>

        </mat-card>

    </mat-card-content>

</mat-card>

<button mat-fab color="accent" style="position: sticky; bottom: 5%; left: 95%;" matTooltip="Create New Gift Reaction"
    aria-label="Create New Gift Reaction" (click)="dialogCreateGiftType()">
    <mat-icon>add</mat-icon>
</button>

