<mat-card class="maxionderon-card-background">

  <mat-card-title>
    <span>{{companion.name}}</span>
  </mat-card-title>
  <mat-card-subtitle>
    <span>{{getAffiliationsSubHeader()}}</span>
  </mat-card-subtitle>

  <mat-card-content>

    <mat-tab-group mat-stretch-tabs style="background-color: white;">
      <mat-tab>

        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon>
          <span>Description</span>
        </ng-template>

        <mat-card style="margin: 1%;">
          <mat-card-content>
            <div>
              <span style="white-space: pre-wrap;">{{companion.description}}</span>
            </div>
          </mat-card-content>
        </mat-card>

      </mat-tab>
      <mat-tab>

        <ng-template mat-tab-label>
          <mat-icon>card_giftcard</mat-icon>
          <span>Gifts</span>
        </ng-template>

        <app-companion-gift-table [companionGifts]="companion.gifts"></app-companion-gift-table>

      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

  <mat-card-actions>

    <div style="margin: 1%;" fxLayout="row" fxLayoutGap="1%" fxLayout.lt-md="column">

      <div fxFlex="50" fxFlex.lt-md="100">
        <button mat-raised-button color="accent" disabled (click)="true" style="width: 100%;">
          <mat-icon class="buttonIcon">create</mat-icon>
          <span>Modify Companion</span>
        </button>
      </div>
      <div fxFlex="50" fxFlex.lt-md="100">
        <button mat-raised-button color="warn" (click)="dialogDeleteCompanion()" style="width: 100%;">
          <mat-icon class="buttonIcon">delete</mat-icon>
          <span>Delete Companion</span>
        </button>
      </div>
    
    </div>

  </mat-card-actions>



</mat-card>