<mat-card class="maxionderon-card-background">

    <mat-card-header>
        <mat-card-title>Affiliation</mat-card-title>
        <mat-card-subtitle>Current Affiliations</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-card>
            <mat-list>
                
            </mat-list>
        </mat-card>

    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button (click)="true">
            <mat-icon class="createIcon">add_circle_outline</mat-icon>
            <span>Create New Affiliation</span>
        </button>
    </mat-card-actions>

</mat-card>