<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Affiliation Creation"(click)="abortAffiliationCreation()">clear</mat-icon>

<h2 mat-dialog-title> Create New Affiliation</h2>

<mat-dialog-content>
    <mat-form-field floatLabel="always" style="width: 100%" appearance="outline">
        <mat-label>Name of the Affiliation</mat-label>
        <input matInput placeholder="Name the new Affiliation" required
            [formControl]="affiliationName">
            <mat-error *ngIf="affiliationName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <button mat-stroked-button (click)="abortAffiliationCreation()">
        <mat-icon class="createIcon">clear</mat-icon>
        <span>Abort Creation</span>
    </button>

    <button mat-stroked-button (click)="createAffiliation()">
        <mat-icon class="createIcon">add_circle_outline</mat-icon>
        <span>Create Affiliation</span>
    </button>

</mat-dialog-actions>