<mat-card class="maxionderon-card-background">

    <mat-card-header>
        <mat-card-title>Affiliation</mat-card-title>
        <mat-card-subtitle>Current Affiliations</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-card>


            <mat-list>

                <mat-list-item *ngFor="let affiliation of affiliations" style="width: 100%;">

                    <app-affiliation-element [affiliation]="affiliation"
                        (eventDeleteAffiliation)="deleteAffiliation($event)"
                        (eventUpdateAffiliation)="updateAffiliation($event)" style="width: 100%">
                    </app-affiliation-element>

                </mat-list-item>
            </mat-list>

        </mat-card>


    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="dialogCreateAffiliation()">
            <mat-icon class="buttonIcon">add_circle_outline</mat-icon>
            <span>Create New Affiliation</span>
        </button>


    </mat-card-actions>

</mat-card>