<div fxLayout="column" fxFill>

        <mat-toolbar color="primary">
                <mat-toolbar-row>
                        <a routerLink="/">
                                <span>Companion Gift App - Admin</span>
                        </a>
                </mat-toolbar-row>
        </mat-toolbar>

        <div fxLayout="column" fxFlex>

                <mat-sidenav-container style="height: 100%;">

                        <mat-sidenav mode="side" opened style="margin: 1%; max-height: min-content; width: 15%;">
                                
                                <mat-list>

                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                                <a routerLink="/companion">Companions</a>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                                <a routerLink="/affiliations">Affiliations</a>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                                <a routerLink="/giftTypes">Gift Types</a>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                                <a routerLink="/giftReactions">Gift Reactions</a>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>

                                </mat-list>

                        </mat-sidenav>

                        <mat-sidenav-content>
                                <div fxLayout="column" fxFlex>

                                        <div
                                                style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 1%;">

                                                <router-outlet></router-outlet>

                                        </div>

                                </div>
                        </mat-sidenav-content>


                </mat-sidenav-container>
        </div>
        
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">

                <a href="https://maxionderon.github.io"><span>© Maximilian Meyer</span></a>

        </mat-toolbar>

</div>