<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Gift Type Modification"
    (click)="abortGiftTypeModification()">clear</mat-icon>
<h2 mat-dialog-title> Modify Gift Type: {{giftType.type}}</h2>


<mat-dialog-content>
    <mat-form-field floatLabel="always" style="width: 100%" appearance="outline">
        <mat-label>Rename the Gift Type</mat-label>
        <input matInput placeholder="Rename the Gift Type" [value]="giftType.type" required
            [formControl]="formControlGiftType">
        <mat-hint align="start">
            <mat-error *ngIf="formControlGiftType.invalid&&(formControlGiftType.dirty||formControlGiftType.touched)">
                {{getErrorMessage()}}
            </mat-error>
        </mat-hint>
        <mat-hint align="end">{{formControlGiftType.value.length}} / 250</mat-hint>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <div style="margin: 1%; width: 100%;" fxLayout="row" fxLayoutGap="1%" fxLayout.lt-md="column">

        <div fxFlex="50" fxFlex.lt-md="100">
            <button mat-stroked-button color="warn" (click)="abortGiftTypeModification()" style="width: 100%;">
                <mat-icon class="buttonIcon">clear</mat-icon>
                <span>Abort Gift Type</span>
            </button>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
            <button mat-stroked-button color="primary" (click)="modifyGiftType()" style="width: 100%;">
                <mat-icon class="buttonIcon">sync</mat-icon>
                <span>Update Gift Type</span>
            </button>
        </div>

    </div>

</mat-dialog-actions>