<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Add Affiliation to Companion"(click)="abortAddAffiliationToCompanion()">clear</mat-icon>

<h2 mat-dialog-title> Add Affiliation to Companion</h2>

<mat-dialog-content>

    <mat-form-field style="width: 100%;">

        <mat-select placeholder="Affiliation" [formControl]="affiliationSelectFormControl" required multiple >
            <mat-option *ngFor="let affiliation of affiliationsOptions" [value]="affiliation">{{affiliation.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="affiliationSelectFormControl.invalid">{{getErrorMessage()}}</mat-error>

    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <button mat-stroked-button (click)="abortAddAffiliationToCompanion()">
        <mat-icon class="createIcon">clear</mat-icon>
        <span>Abort</span>
    </button>

    <button mat-stroked-button (click)="addAffiliationToCompanion()">
        <mat-icon class="createIcon">check</mat-icon>
        <span>Add Affiliation to Companion</span>
    </button>

</mat-dialog-actions>