<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Add Affiliation to Companion"
    (click)="abortAddAffiliationToCompanion()">clear</mat-icon>

<h2 mat-dialog-title> Add Affiliation to Companion</h2>

<mat-dialog-content>

    <mat-form-field style="width: 100%;">

        <mat-select placeholder="Affiliation" [formControl]="affiliationSelectFormControl" required multiple>
            <mat-option *ngFor="let affiliation of affiliationsOptions" [value]="affiliation">{{affiliation.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="affiliationSelectFormControl.invalid">{{getErrorMessage()}}</mat-error>

    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <div style="margin: 1%; width: 100%;" fxLayout="row" fxLayoutGap="1%" fxLayout.lt-md="column">

        <div fxFlex="50" fxFlex.lt-md="100">

            <button mat-stroked-button color="warn" (click)="abortAddAffiliationToCompanion()" style="width: 100%;">
                <mat-icon class="buttonIcon">clear</mat-icon>
                <span>Abort</span>
            </button>

        </div>

        <div fxFlex="50" fxFlex.lt-md="100">

            <button mat-stroked-button color="primary" (click)="addAffiliationToCompanion()" style="width: 100%;">
                <mat-icon class="buttonIcon">check</mat-icon>
                <span>Add Affiliation to Companion</span>
            </button>

        </div>

    </div>

</mat-dialog-actions>