<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Gift Reaction Modification" (click)="abortGiftReactionModification()">clear</mat-icon>
<h2 mat-dialog-title> Modify Gift Reaction: {{giftReaction.name}}</h2>


<mat-dialog-content>
    <mat-form-field floatLabel="always" style="width: 100%" appearance="outline">
        <mat-label>Name the Gift Reaction</mat-label>
        <input matInput [value]="giftReaction.name" placeholder="Name the new Gift Type" required [formControl]="giftReactionNameFormControl">
        <mat-error *ngIf="giftReactionNameFormControl.invalid">{{getErrorMessageGiftReactionName()}}</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" style="width: 100%" appearance="outline">
        <mat-label>Set the Gift Reaction Gain Factor</mat-label>
        <input matInput [value]="giftReaction.gainFactor" placeholder="Set the Gift Reaction Gain Factor" required
            [formControl]="giftReactionGainFactorFormControl" type="number" min="0">
        <mat-error *ngIf="giftReactionGainFactorFormControl.invalid">{{getErrorMessageGiftReactionGainFactor()}}</mat-error>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-stroked-button (click)="abortGiftReactionModification()">
        <mat-icon class="createIcon">clear</mat-icon>
        <span>Abort Modification</span>
    </button>

    <button mat-stroked-button (click)="modifyGiftReaction()">
        <mat-icon class="createIcon">sync</mat-icon>
        <span>Update Gift Reaction</span>
    </button>

</mat-dialog-actions>