<mat-icon style="float: right; cursor: pointer" matTooltip="Abort Gift Reaction Delete" (click)="abortDelete()">clear</mat-icon>

<h2 mat-dialog-title> Delete Gift Reaction: {{giftReaction.name}}</h2>

<mat-dialog-actions>

    <button mat-stroked-button color="warn" (click)="abortDelete()">
        <mat-icon class="buttonIcon">clear</mat-icon>
        <span>No</span>
    </button>

    <button mat-stroked-button color="primary" (click)="deleteGiftReaction()">
        <mat-icon class="buttonIcon">check</mat-icon>
        <span>Yes</span>
    </button>

</mat-dialog-actions>